﻿@model aspTaskManagement.Models.ApplicationUser

@{
    ViewBag.Title = "Home Page";
}


@*admin Dashboard*@
@if (ViewContext.HttpContext.User.IsInRole("SuperAdmin") || User.IsInRole("SuperAdmin"))
{
    @*<h1>Admin Dashboard</h1>*@
    { Response.Redirect("~/Admin/Index");}

}
@if (ViewContext.HttpContext.User.IsInRole("user") || User.IsInRole("user"))
{
    @*<h1>Users Page</h1>*@
    { Response.Redirect("~/Account/UsersPage"); }
}
@if (!ViewContext.HttpContext.User.IsInRole("SuperAdmin") && !User.IsInRole("SuperAdmin") && !ViewContext.HttpContext.User.IsInRole("user") && !User.IsInRole("user"))
{
    <h1>Default Page</h1>
}
