﻿
@{
    ViewBag.Title = "AssignRole";
}

<h2>Assign Role</h2>

@using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{
<div class="row">
    <div class="col-lg-6">
        <label class="control-label">User name</label>
        @*<input type="text" name="txtUserName" value="" class="form-control" />*@
        @Html.DropDownList("Email", (IEnumerable<SelectListItem>)ViewBag.Email,"---Select Users---", new {@class= "form-control" })
    </div>
    <div class="col-lg-6">
        <label class="control-label">User role</label>
        @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "---Select Role---", new {@class ="form-control" })
    </div>
    <div class="col-md-12">
        <br /><br />
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary">@Html.ActionLink("Back", "Index", "Admin")</button>
    </div>
</div>

}