﻿@{
    ViewBag.Title = "CreateRole";
}
<br />

<h2>CreateRole</h2>

@using (Html.BeginForm("NewRole", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">Role Name</label>
            <input type="text" class="form-control" name="RoleName" value="" />
        </div>
        <div class="col-md-6">
            <br />
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
    <br />
    <p>@Html.ActionLink("Back", "Index", "Admin")</p>
}