﻿
@{
    ViewBag.Title = "CreateUser";
}
<br />
<p>@Html.ActionLink("Back", "Index", "Admin")</p>
<h2 class="text-center">Create User</h2>

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
<div class="row">
    <div class="col-md-12">
        <label class="control-label">User Email</label>
        <input type="text" name="txtEmail" class="form-control"/>
    </div>
    <div class="col-md-12"><br /><br />
        <label class="control-label">Password</label>
        <input  type="password" name="txtPassword" class="form-control"/>
    </div>
</div>
 <br />
<div class="row">
    <div class="col-md-12">
        <button type="submit" value="Submit" class="btn btn-primary">Save</button>
    </div>
</div>

}
