﻿@model aspTaskManagement.Models.RegisterViewModel
@{
    ViewBag.Title = "EditProfile";
}

<h2>Edit Profile</h2>

@*@using (Html.BeginForm("postProfile", "Admin"))
{
    @Html.EditorFor(model => model.Email)
    @Html.EditorFor(model =>model.Password);
    @Html.EditorFor(model=>model.ConfirmPassword);
    <input type="submit" value="Save" />
}*@
