﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<li>@Html.ActionLink("Create Role", "CreateRole", "Admin")</li>
<li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
<li>@Html.ActionLink("Assign Role", "AssignRole", "Admin")</li>
<li>@Html.ActionLink("Edit Profile", "EditProfile", "Admin")</li>
<li>@Html.ActionLink("User List", "UsersList", "Admin")</li>

