﻿@model IEnumerable<aspTaskManagement.Models.ApplicationUser>

@{
    ViewBag.Title = "UsersList";
}
<br />
<p>@Html.ActionLink("Back", "Index", "Admin")</p>

<h2 class="text-center">UsersList</h2>
<br /><br />
<table class="table">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
